{% extends 'base.html' %}
{% block content %}
<h1>Change your password</h1>
  <p>Use the form below to change your password.</p>
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
            <p> If you don't remember your old password, use the <a href="{% url 'password_reset' %}">Forgot password</a> facility</p>
            {{ form.as_p }}
                    <p> <input type="submit" value="Change Password!"/></p>
            {% csrf_token %}
        </form>
{% endblock %}