{% extends 'base.html' %}

{% block title %}Clients{% endblock title %}

{% block content %}
<H1> Clients</H1>
  {% for client in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold"><a href="{% url 'client_detail' client.pk %}"> {{ client.name }} </a> </span>
        <span class="font-weight-bold">cell: {{ client.cell_phone }} | </span>
        <span class="font-weight-bold">acct: {{ client.acct_number }} | </span>
        <span class="font-muted">addr: {{ client.address }} | </span>
        <span class="font-muted-">city: {{ client.city }} | </span>
        <span class="font-muted">st: {{ client.state }} | </span>
<span class="font-muted">zip: {{ client.zipcode }} | </span>
        <span class="font-muted">email: {{ client.email }} | </span>
      </div>

      <div class="card-body">
          <p><b> Notes:</b></p>
        <p>{{client.notes}}</p>
        <a href="{% url 'client_edit' client.pk %}">Edit</a> |
        <a href="{% url 'client_delete' client.pk %}">Delete</a>

      </div>
              <div class="card-footer">
          <p><b> Vehicles owned:</b>

        {% for vehicle in client.vehicle.all %}
<a href="{% url 'vehicle_detail' vehicle.id %}">
                   <span class="font-weight-light"> | {{ vehicle.make }} </span>

</a>
        {% endfor %}
</p>
                  <span class="font-weight-light"> <a href="{% url 'vehicle_new' %}">+ New Vehilce</a> </span>

<!--          <p><a href="{% url 'vehicle_list' %}">View Vehicle List</a></p> -->
        </div>
      <div class="card-footer">
          <p><b> Comments:</b></p>
        {% for comment in client.comments.all %}
          <p>
            <span class="font-weight-bold">{{ comment.author }} </span><span class="font-weight-light">{{comment.date}}</span> &middot;
            {{ comment }}
          </p>
        {% endfor %}
          <a href="{% url 'client_addcomment' client.pk %}">Add New Comment</a>
      </div>
    </div>
    <br />
  {% endfor %}
{% endblock content %}
